body {
  background-color: #740001;
}
h1 {
  text-align: center;
  margin-top: 30%;
  color: #eeba30;
}

.link {
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.inicio {
  margin: auto;
  width: 650px;
  height: 450px;
  background-color: #555;
  border-radius: 6px;
}

.textoInicio {
  padding: 160px 0;
  font-size: 46px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

/* Popup container */
.popup {
  position: relative;
  left: 53%;
  top: -4rem;
  display: inline-block;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Popup container 2 */
.popup2 {
  position: relative;
  left: 20%;
  top: 4rem;
  display: inline-block;
}

/* The actual popup (appears on top) */
.popup2 .popuptext2 {
  visibility: hidden;
  width: 800px;
  background-color: #555;
  color: #fff;
  font-size: 40px;
  text-align: center;
  border-radius: 6px;
  padding: 80px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
}

.alpha {
  font-size: 42px;
}

/* Popup arrow */
.popup2 .popuptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup2 .show2 {
  visibility: visible;
  -webkit-animation: fadeIn2 1s;
  animation: fadeIn2 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
